# Base de datos local (ajusta el nombre si usas otro)
DB_URL=sqlite+aiosqlite:///./dap.sqlite3

# Crypto/JWT
JWT_ALG=RS256
ISSUER_DID=did:example:issuerHYX

# Rutas de claves (solo ejemplo, NO se versionan las reales)
ISSUER_PRIVATE_KEY_PATH=keys/issuer_private.pem
ISSUER_PUBLIC_KEY_PATH=keys/issuer_public.pem

# Verificación por JTI (local)
VERIFY_BASE_URL=http://127.0.0.1:8000/verifier/scan
